body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(23.jpg);
	background-size: 100%;
	font-family: sans-serif;
}

.Contact-title
{
	margin-top: 100px;
	color: bold black;
	text-transform: uppercase;
	transform: all 4s ease-in-out;
	border: 1;
}

.Contact-title h1{
	font-size: 32px;
	line-height: 10px;
}
.Contact-title h2
{
	font-size: 20px;
}

form
{
	margin-top: 50px;
	transform: all 4s ease-in-out;
}

.form-control
{
	width: 600px;
	background: transparent;
	border: 1;
	outline: 1;
	border-bottom: 1px solid white;
	color: #000;
	font-size: 18px;
	margin-bottom: 16px;
}

input
{
	height: 45px;
}

form .submit
{
	background: red;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	width: 300px;
}

form .submit:hover
{
	background-color: #000;
	cursor: pointer;
}